@use 'shared/motion' as motion;

.note {
  $self: &;
  position: relative;
  display: block;
  padding: 1.5rem 1rem .75rem;

  &__header {
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: -1.5rem;
    margin-bottom: 3rem;
    pointer-events: none;

    > * {
      pointer-events: initial;
    }
  }

  &__footer {
    position: sticky;
    bottom: 2rem;
    display: flex;
    align-items: stretch;
    margin-top: .75rem;
    margin-left: -1rem;
    z-index: 1;
    background: var(--color-primary);
    border-radius: 0 .75rem .75rem 0;
    transform: translate(0) scale(0);
    transform-origin: left top;
    width: fit-content;
    min-height: 2.5rem;
    transition-property: transform;
    transition-duration: motion.$duration__fast-motion;
    transition-timing-function: motion.$easing__standard;
    pointer-events: none;

    #{$self}:focus-within &,
    &:focus {
      transform: translate(.25rem) scale(1);

      > * {
        pointer-events: initial;
      }
    }

    &::before, &::after {
      content: "";
      position: absolute;
      left: 0;
      z-index: -1;
      display: block;
      width: 1.5rem;
      height: 1.5rem;
    }

    &::before {
      top: 0;
      transform: translateY(-100%);
      border-bottom-left-radius: 50%;
      box-shadow: 0 .75rem 0 0 var(--color-primary);
    }

    &::after {
      bottom: 0;
      transform: translateY(100%);
      border-top-left-radius: 50%;
      box-shadow: 0 -.75rem 0 0 var(--color-primary);
    }
  }

  &__time {
    display: block;
    color: white;
    padding: 0.25rem 0.5rem;
    border-radius: 0 0 .5rem .5rem;
    font-size: 0.8rem;
    background: black;
    transition-property: background-color;
    transition-duration: motion.$duration__fast-motion;
    transition-timing-function: motion.$easing__standard;
  }

  &:focus-within &__time {
    background: var(--color-primary);
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: .25rem;
    background: var(--color-primary);
    transform: scaleX(0);
    transform-origin: left;
    transition-property: transform;
    transition-duration: motion.$duration__fast-motion;
    transition-timing-function: motion.$easing__standard;
  }

  &:focus-within::before {
    transform: scaleX(1);
  }

  &__close-button {
    background: none;
    font-size: 0.8rem;
    padding: 0.5rem;
    border: none;
    color: white;
  }
}
