@property --a {
  syntax: '<length>';
  inherits: false;
  initial-value: 0;
}

@property --b {
  syntax: '<length>';
  inherits: false;
  initial-value: 0;
}

@property --c {
  syntax: '<length>';
  inherits: false;
  initial-value: 0;
}

@keyframes loading {
  0%   { --a: 1px; --b: 1px; --c: 1px; }
  16%  { --a: 5px; --b: 1px; --c: 1px; }
  32%  { --a: 5px; --b: 5px; --c: 1px; }
  48%  { --a: 5px; --b: 5px; --c: 5px; }
  64%  { --a: 1px; --b: 5px; --c: 5px; }
  80%  { --a: 1px; --b: 1px; --c: 5px; }
  100% { --a: 1px; --b: 1px; --c: 1px; }
}

.loader {
  height: 1rem;
  width: 3.5rem;
  margin: auto;
  animation: loading 1s infinite;
  animation-play-state: running;
  transition: opacity 200ms;
  background-image:
    radial-gradient(circle at 6px 50%, white var(--a), transparent calc(var(--a) + 1px)),
    radial-gradient(circle at 50% 50%, white var(--b), transparent calc(var(--b) + 1px)),
    radial-gradient(circle at calc(100% - 6px) 50%, white var(--c), transparent calc(var(--c) + 1px));

  &--to-top {
    height: 3.5rem;
    width: 1rem;
    background-image:
      radial-gradient(circle at 50% calc(100% - 6px), white var(--a), transparent calc(var(--a) + 1px)),
      radial-gradient(circle at 50% 50%, white var(--b), transparent calc(var(--b) + 1px)),
      radial-gradient(circle at 50% 6px, white var(--c), transparent calc(var(--c) + 1px));
  }
  &--to-bottom {
    height: 3.5rem;
    width: 1rem;
    background-image:
      radial-gradient(circle at 50% 6px, white var(--a), transparent calc(var(--a) + 1px)),
      radial-gradient(circle at 50% 50%, white var(--b), transparent calc(var(--b) + 1px)),
      radial-gradient(circle at 50% calc(100% - 6px), white var(--c), transparent calc(var(--c) + 1px));
  }

  &--off {
    opacity: 0;
    animation-play-state: paused;
  }
}
