<div #scrollPositionAnchor style="position: absolute"></div>

<section waIntersectionObserver waIntersectionRootMargin="50%">
  <div style="position: absolute; left: 50%; top: 1rem; z-index: 3" class="loader loader--to-top" [class.loader--off]="!isLoadingPrevious" (waIntersectionObservee)="onScrollTop($event)"></div>

  <ul #list class="card-list" [class.card-list--is-top]="isBegin$ | async" [class.card-list--is-bottom]="isEnd$ | async">
    <li *ngFor="let note of notes$|async; trackBy:trackNoteById" style="position: relative">
      <app-note #note [note]="note"></app-note>
    </li>
  </ul>

  <div class="loader loader--to-bottom" [class.loader--off]="!isLoadingNext" (waIntersectionObservee)="onScrollBottom($event)"></div>
</section>


<div class="card-list__new-card">
  <button class="card-list__new-button" (click)="createNote()">CRÉER UNE NOTE</button>
</div>
