/* You can add global styles to this file, and also import other style files */

@import "codemirror/lib/codemirror";
@import "hypermd/theme/hypermd-light";
@import "styles/colors";
@import "styles/codemirror";
@import "styles/hypermd";
@import "styles/card-list";
@import "styles/loader";
@import "styles/note";


*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --border-radius: .5rem;
  --view-padding: 2rem;
}

button {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  cursor: pointer;
}


html {
  height: 100%;
  //scroll-behavior: smooth;
}


body {
  min-height: 100%;
  font-family: Montserrat, sans-serif;
  background: var(--color-background);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: var(--view-padding) 0;
}
