.note {
  $self: &;
  position: relative;
  display: block;
  padding: 0 1rem 1rem;

  &__header {
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 1rem;
    padding-top: .5rem;
    pointer-events: none;

    > * {
      pointer-events: initial;
    }
  }

  &__time {
    display: block;
    color: #ccc4ee;
    padding: .5rem 0;
    padding-left: 1rem;
    border-radius: 2rem 0 0 2rem;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-style: italic;

    background: white;
    box-shadow: 0 0 .3rem .3rem white;

    @supports (backdrop-filter: blur(3px)) {
      background: #fffd;
      box-shadow: none;
      backdrop-filter: blur(3px);
    }
  }

  &__close-button {
    box-shadow: 0 0 .3rem .3rem white;
    background: none;
    font-size: 2rem;
    line-height: 2rem;
    height: 2.2rem;
    width: 2.2rem;
    border: none;
    background: #c94362;
    margin-top: .5rem;
    padding: 0;
    color: #fff;
    opacity: 0;
    border-radius: calc(var(--border-radius) / 2);
    pointer-events: none;
    transition: opacity 150ms;

    #{$self}:hover &,
    &:focus {
      opacity: 1;
      pointer-events: initial;
    }
  }
}

